body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
body {
  margin: 0;
    font-weight: 400;
}
.container {
    width:90%;
  margin: 0 auto;
}
header {
    background-color:#f1f1f1;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}
#logo{

 display:inline-block;
 padding:10px;
color: #111;

}

nav{
  float: right;
  padding:10px 30px;

}

nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  margin-right: -60px;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  font-size: 20px;
}

nav a:hover {
  color:#ff6666;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav hr{
    margin-right:20px;
    color:#111;
    opacity:0.2;
    margin-bottom:40px;

}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}